<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>My app</title>
</head>

<body>

<div>
    <table border="1">
        <thead>
        <tr>
            <th> Id</th>
            <th> Name</th>
            <th> Lastname</th>
            <th> Email</th>
            <th> Edit</th>
            <th> Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${people}">
            <td th:utext="${user.getId()}">Oranges</td>
            <td th:utext="${user.getFirstName()}">Oranges</td>
            <td th:utext="${user.getLastName()}">Oranges</td>
            <td th:utext="${user.getEmail()}">Oranges</td>
            <td><a th:href="@{{id}/edit(id = ${user.getId()})}"> Edit </a></td>
            <td>
                <form th:method="DELETE" th:action="@{/{id}(id = ${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a> _________________________________ </a>
    <br/>
    <a href="new"> New User </a>
</div>

</body>

</html>